@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{ ViewData["Title"] = "History"; }

<h1>History</h1>
<div class="text-center">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Tip Amount</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody id="calchistory"></tbody>
    </table>

</div>

<input type="hidden" id="UserId" value="@UserManager.GetUserId(User)" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let userId = document.getElementById("UserId").value;
        fetch('https://localhost:5001/calculation/history', {
            method: 'post',
            headers: { 'Content-type': 'application/json' },
            body: JSON.stringify(userId)
        })
            .then(response => {
                if (response.status !== 200) {
                    alert("Data Not gathered");
                    return;
                }
                return response.json();
            })
            .then(data => {
                displayCalculations(data);
            })
            .catch(error => {
                console.log(error);
                alert("Data Not gathered");
            })
        function displayCalculations(calcs) {
            let table = '';
            calcs.forEach(calc => {
                table = table + `<tr>`;
                table = table + `<td>${calc.id}</td>`;
                table = table + `<td>$${calc.resultAmount}</td>`;
                table = table + `<td>${calc.createdDateTime}</td>`;
                table += `</tr>`;
            });
            document.getElementById("calchistory").innerHTML = table;
        }
    </script>
}
